{% extends "myartists/base.html" %}

{% block title %}MyArtists - {{ artist.name }}{% endblock %}

{% block content %}

<span vocab="http://schema.org/" typeof="Artist">
<h1>
    <span property="name">{{ artist.name }}</span>
    {% if user == artist.user %}
        (<a href="{% url 'myartists:artist_edit' artist.id %}">edit</a>)
    {% endif %}
</h1>

<h2>Address:</h2>
<p>
    {{ artist.street }}, {{ artist.number }} <br/>
    {{ artist.zipcode }} {{ artist.city }} <br/>
    {{ artist.stateOrProvince }} ({{ artist.country }})
</p>

<h2>
    Albums
    {% if user %}
        (<a href="{% url 'myartists:dish_create' artist.id %}">add</a>)
    {% endif %}
</h2>
<ul>
    {% for dish in artist.albums.all %}
        <li><a href="{% url 'myartists:dish_detail' artist.id dish.id %}">{{ dish.name }}</a></li>
    {% empty %}
        <li>Sorry, no albums for this artist yet.</li>
    {% endfor %}
</ul>

<h2>Reviews</h2>
{% if artist.artistreview_set.all|length > 0 %}
<span rel="aggregateRating">
    <p typeof="AggregateRating">
        Average rating <span property="ratingValue">{{ artist.averageRating|stringformat:".1f" }}</span>
        {% with artist.artistreview_set.all|length as reviewCount %}
        from <span property="reviewCount">{{ reviewCount }}</span> review{{ reviewCount|pluralize }}
        {% endwith %}
    </p>
</span>
<ul rel="review">
    {% for review in artist.artistreview_set.all %}
        <li typeof="Review">
            <p rel="reviewRating" typeof="Rating">
                <span property="worstRating" content="{{ RATING_CHOICES.0.0 }}"></span>
                <span property="ratingValue">{{ review.rating }}</span> star{{ review.rating|pluralize }}
                {% with RATING_CHOICES|last as best %}
                <span property="bestRating" content="{{ best.0 }}"></span>
                {% endwith %}
            </p>
            <p property="description">{{ review.comment }}</p>
            <p>Created by <span property="author">{{ review.user }}</span> on
                <span property="publishDate">{{ review.date}}</span></p>
        </li>
    {% endfor %}
</ul>
</span>
{% endif %}

<h3>Add Review</h3>
<form action="{% url 'myartists:review_create' artist.id %}" method="post">
    {% csrf_token %}
    Message: <textarea name="comment" id="comment" rows="4"></textarea>
    <p>Rating:</p>
    <p>
    {% for rate in RATING_CHOICES %}
        <input type="radio" name="rating" id="rating{{ forloop.counter }}" value="{{ rate.1 }}" />
        <label for="choice{{ forloop.counter }}">{{ rate.1 }} star{{ rate.0|pluralize }}</label><br />
    {% endfor %}
    </p>
    <input type="submit" value="Review" />
</form>

{% endblock %}

{% block footer %}
    Created by {{ artist.user }} on {{ artist.date }}
{% endblock %}